body{
    padding: 5px ;
    background-color:#606c38;
    font-family:Verdana;
}
.form-login{
    padding: 70px 25px 0px;
    width: 100%;
    height: 600px;
}
.input-login{
    padding: 10px 5px 10px;
    width: 100%;
    height: 450px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.description-login{
    padding: 10px 10px 10px 10px; /*Atas,Kanan,Bawah,Kiri*/
    width: 100%;
    height:600px;
}
.content-description1{
    margin-top: 10px;
    width: 100%;
    height: 70px;
}
.content-description{
    margin-top: 10px;
    width: 100%;
    height: 350px;
}